<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bapocbulkserver.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bapocbulkserver.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>bapocbulkserver</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$bapocbulkserver</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RedMonitoreo:ServiceBus:FilesToProcess" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Endpoint=sb://bapocmonitoring.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=fgyla5JOTDqHvghQn4M4xnmul5OhpOXqWv/8xYPShx0=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RedMonitoreo:ServiceBus:FilesToProcess_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Endpoint=sb://bapocmonitoring.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=fgyla5JOTDqHvghQn4M4xnmul5OhpOXqWv/8xYPShx0=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="RedMonitoreo:AzureLogsStorage" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=bapocstoragelog;AccountKey=SWFDBkl35oIm7y/QKawNgXyVmu9QWncsO+ousxIYF552x5zyh27h6rW+RyiBeEUbnK2BGCShGt1R9jMbq6HTDQ==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RedMonitoreo:AzureLogsStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=bapocstoragelog;AccountKey=SWFDBkl35oIm7y/QKawNgXyVmu9QWncsO+ousxIYF552x5zyh27h6rW+RyiBeEUbnK2BGCShGt1R9jMbq6HTDQ==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="RedMonitoreo:AzureStorage" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=bapocstorage;AccountKey=f6iyBAMeukkLA2MmO8dzoHrTCe3yOW+o/25YXs8eu+ac5kZssMmqC/VH7XCa/BhSKesDqN7mbMbsStdwfo9fWg==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RedMonitoreo:AzureStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=bapocstorage;AccountKey=f6iyBAMeukkLA2MmO8dzoHrTCe3yOW+o/25YXs8eu+ac5kZssMmqC/VH7XCa/BhSKesDqN7mbMbsStdwfo9fWg==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AzureWebJobsDashboard" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=bapocstoragelog;AccountKey=SWFDBkl35oIm7y/QKawNgXyVmu9QWncsO+ousxIYF552x5zyh27h6rW+RyiBeEUbnK2BGCShGt1R9jMbq6HTDQ==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureWebJobsDashboard_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=bapocstoragelog;AccountKey=SWFDBkl35oIm7y/QKawNgXyVmu9QWncsO+ousxIYF552x5zyh27h6rW+RyiBeEUbnK2BGCShGt1R9jMbq6HTDQ==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureWebJobsDashboard-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RedMonitoreo:AzureLogsStorage-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RedMonitoreo:AzureStorage-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RedMonitoreo:ServiceBus:FilesToProcess-Web.config Connection String" />
  </ItemGroup>
</Project>