<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="caba:IoTHubService:host:withouttime" value="bapocbasicsensoringestor.azure-devices.net"/>
    <add key="caba:IoTHubService:policyName:withouttime" value="iothubowner"/>
    <add key="caba:IoTHubService:policyKey:withouttime" value="HrVBBrOatoWemmHZYEydWR2iC+wQFs6YI8qFPne5Z1o="/>

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>